div {
    width: 100%;
    background-image: url(https://c.wallhere.com/photos/a3/38/1360x768_px_Fire_Watch_Green_landscape_Moon_nature_night-1266367.jpg!d);
    background-size: 100%;
    border: 1px solid red;
  }
    
