body {
  margin: 0;
  padding:0px;
  font-family: fantasy;
  font-size: 50px;
  border-top: 0%;
}


div {
    width: 100%;
    background-image: url(https://c.wallhere.com/photos/a3/38/1360x768_px_Fire_Watch_Green_landscape_Moon_nature_night-1266367.jpg!d);
    background-size: 100%;
    background-repeat: no-repeat
  }
    
